@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    /* padding: 10%; */
    height: 100vh;
    justify-content: space-evenly;
    margin: 0;
    background-color: aliceblue;
}

.container {
    display: flex;
    margin: 10% auto;
    justify-content: space-between;
    height: 60%;
    flex: 1;
    box-sizing: border-box;
    border-radius: 32px;
    background-color: white;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
    padding-right: 40px;
}

.left {
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    max-width: 50%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 32px;
    padding: 20px 0px 0px 0px;
    padding-bottom: 20px;
}
.score {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;  
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    margin: 20px 0;
}

.header {
    font-size: 24px;
    color: hsl(241, 100%, 89%);
    margin: 20px;
}

.score_text {
    text-align: center;
}

.main_score {
    color: hsl(0, 0%, 100%);
    font-size: 72px;
    font-weight: 600;
}

.outof {
    display: block;
    font-size: 18px;
    color: hsl(241, 100%, 89%);
}

.great{
    font-size: 32px;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    margin: 20px;

}

.caption {
    font-size: 18px;
    max-width: 70%;
    color: hsl(241, 100%, 89%);
}


.right {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 20px;
    /* align-items: center; */
}

.summary {
    align-self: flex-start;
    font-weight: 550;
    /* margin: 0px 0px 10px 0px;
    padding: 0px 0px 140px 0px; */
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.items div {
    display: flex;
}

.reaction {
    height: 40px;
    background-color: hsla(0, 100%, 67%, 0.20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.rname {
    color: hsl(0, 100%, 67%);
}

.hundred {
    color: grey;
}

.memory {
    height: 40px;
    background-color: hsla(39, 100%, 56%, .20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.mname {
    color: hsl(39, 100%, 56%);
}

.verbal {
    height: 40px;
    background-color: hsla(166, 100%, 37%, .20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.vername {
    color: hsl(166, 100%, 37%);
}

.visual {
    height: 40px;
    background-color: hsla(234, 85%, 45%, .20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.visname {
    color: hsl(234, 85%, 45%);
}

.button {
    display: flex;
    flex-direction: column;
}

button {
    padding: 15px;
    box-sizing: border-box;
    border-radius: 24px;
    border: 0px;
    font-size: 18px;
    font-weight: 600;
    background-color: hsl(228, 47%, 27%);
    color: white;
}

img {
    margin-right: 8px;
}

.attribution { 
    font-size: 24px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.footer {
    /* align-self: flex-start; */
    font-size: 24px;
    padding: 20px;
} 